<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
        <!--<figure class="image">
                <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
            </figure> 
            <br><br> --> 
            <div class="columns">

                <div
                    class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        Soy entusiasta con la tecnología y en encontrar la forma de que esta de soluciones reales. Me
                        gusta el desarrollo de software y harware así como aprender sobre nuevas tecnologías Mi meta es
                        convertirme en un futuro profesional lo más completo posible Por eso busco siempre cursos
                        relacionados con mi carrera que me ayuden a crecer profesionalmente Creo que la tecnología debe
                        estar al servicio de las personas, Si bien hay fundamentos técnicos entiendo que hay muchos
                        procesos de creación y de prueba y error.
                    </p>
                    <br>
                    <p>
                        No me gusta definirme por el trabajo que he hecho, me defino por el trabajo que quiero hacer.
                        Las habilidades se pueden enseñar,la personalidad es inherente. Prefiero seguir aprendiendo,
                        seguir desafiándome y hacer cosas interesantes que importen.
                    </p>
                    <br>
                    <p>
                        Mi abúndate curiosidad me impulsa en la búsqueda de muchos intereses, pasatiempos y arias de
                        estudio. Aprendo rápido, soy capaz de adquirir nuevas habilidades y hacer malabarismo con
                        diferentes proyectos y roles con relativa facilidad.
                    </p>
                    <br><br>
                    <div class="is-uppercase">
                        <div
                            class="column has-text-centered-desktop has-text-centered-tablet has-text-centered-fullhd has-text-centered-widescreen is-size-4 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                            <h1>Lenguajes</h1>
                        </div>
                        <br>
                        <div class="is-size-5">
                        <table class=" has-text-centered-desktop has-text-centered-tablet has-text-centered-fullhd has-text-centered-widescreen container">
                            <tr>
                              <td>HTML</td>
                              <td>★★★★☆</td>
                            </tr>
                            <tr>
                              <td>CSS</td>
                              <td>★★★☆☆</td>
                            </tr>
                            <tr>
                                <td>Javascript</td>
                                <td>★★☆☆☆</td>
                              </tr>
                            <tr>
                                <td>PHP</td>
                                <td>★★★☆☆</td>
                              </tr>
                            <tr>
                                <td>SQL</td>
                                <td>★★★☆☆</td>
                              </tr>
                              <tr>
                                <td>Python</td>
                                <td>★★★★☆</td>
                              </tr>
                              <tr>
                                <td>Bash</td>
                                <td>★★★★☆</td>
                              </tr>
                          </table>
                        </div>
                        <div class="is-size-5">
                        </div>
                        <br><br><br>
                        <div class="container columns is-centered">
                            <div>
                                <a href="{{site.url}}{{site.baseurl}}/project"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projectos</a>
                                </a>
                            </div>
                            <div>
                                <a href="{{site.url}}{{site.baseurl}}/blog"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>