---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered" id="page-section">
            <div class="section">
                <h1 class="title is-1 is-uppercase has-text-weight-bold"> HERRAMIENTAS</h1>
                <hr class="has-background-black">
                <br><br>
                <iframe src='../tools/password-generator/index.html' style='width: 1000px;height:1000px;' frameborder='0' allowfullscreen></iframe>
 
            </div>

        </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>